{% extends "base.html" %} {% block main %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="max-w-md bg-white p-8 rounded shadow-md -mt-24">
    <h1 class="text-2xl font-bold text-gray-800 mb-4">
      Sobre o Sistema de Cadastro de Usuários
    </h1>
    <p class="text-gray-700 mb-4">
      O Sistema de Cadastro de Usuários é uma aplicação web que permite o
      registro e gerenciamento de usuários. Com este sistema, você pode
      adicionar, editar e excluir informações de usuários, incluindo nome,
      e-mail, senha, entre outros campos relevantes.
    </p>
    <p class="text-gray-700 mb-4">
      O sistema possui recursos avançados de segurança, garantindo a proteção
      dos dados dos usuários. Além disso, é fácil de usar, intuitivo e
      personalizável para atender às necessidades específicas da sua empresa ou
      organização.
    </p>
    <p class="text-gray-700 mb-4">
      Este sistema foi desenvolvido com as mais recentes tecnologias web,
      garantindo alto desempenho e uma experiência agradável para os usuários.
    </p>
    <div class="flex justify-center">
      <a
        href="/"
        class="px-4 py-2 bg-purple-500 text-white rounded hover:bg-purple-600"
        >Voltar</a
      >
    </div>
  </div>
</div>
{% endblock %}
